/* Rajdhani */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root{
    --color-button:#c39f77;
}

*{
    margin:0;
    padding:0;
}

header{
    text-align:center;
    font-family:'Rajdhani', monospace;
}

section{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

form label{
    font-weight: bold;
    font-family:'Rajdhani';
}

input[type=text], select, textarea{
    font-size:16px;
    width:100%;
    padding:12px 20px;
    margin:8px 0;
    display:inline-block;
    border:1px solid #ccc;
    box-sizing:border-box;
}

.box-inventario button{
    width: 100%;
    padding: 15px;

    border: none;
    background-color: #000;
    color: white;
    width: 100%;
    font-family: 'Rajdhani';
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
}

select {
    background:var(--color-button);
    color:#FFF;
    font-weight:bold;
}

.box-inventario h2{
    margin:10px;
    font-family:'Rajdhani', Arial;
}

.tab{
    overflow:hidden;
    border:1px solid #ccc;
    background:#f1f1f1;
    border-radius:5px;
    margin:10px;
}

.tab button{
    background:inherit;
    float:left;
    font-size:20px;
    font-family:'Rajdhani', Arial;
    font-weight:bold;
    border:none;
    outline:none;
    cursor:pointer;
    padding:14px 16px;
    transition:0.3s; 
}

.tab button:hover{
    background:#ddd;
}

.tab button:active{
    background:#ccc;
}

.tabcontent{
    display:none;
    padding:6px 12px;
    border:1px solid #ccc;
    border-top:none;
    align-content:center;
    width: 40%;
}

.tabcontent .box-imagenes{
    text-align:center;
}

.tabcontent .box-imagenes h2{
    font-family:'Rajdhani', Arial, monospace;
    margin:10px;
}

.box-imagenes .preview{
    display:flex;
    flex-wrap:wrap;
    gap:10px;    
}

.box-imagenes .preview img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius:5px;
}
        
.box-imagenes .preview img:hover{
    transform:scale(1.5);
    box-shadow:0px 0px 5px #808080;
    transition:all linear 0.3s;
}

.box-imagenes input[type="file"]::file-selector-button {
    margin: 10px;
    padding: 5px;
    border: none;
    font-size:16px;
    background: var(--color-button);
    color:#FFF;
}

.box-imagenes button{
    border: none;
    background-color: var(--color-button);
    color: #FFF;
    padding:6px ;
    cursor: pointer;
    border-radius: 5px;
}

.box-imagenes button:hover{
    font-weight: bold;
}

 table{
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

table td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table tr:nth-child(even){
    background-color: #dddddd;
}


.tabcontent .btn-add button{
    color: #FFF;
    background-color: var(--color-button);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.color-box{
    padding: 10px;
    color: #818181;
    border-radius: 5px;
    border: solid 1px #818181;
}

td ul li{
    display: inline-block;
    margin-right: 10px;
}

td ul li a{
    color:#000;
    font-size: 20px;
}

.tabcontent .table-stock{
    margin: 10px;
}

.stock-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.stock-title .color{
    padding: 5px;
    width: 10px;
    height: 10px;
    border: solid 1px #808080;
    border-radius: 5px;
    margin: 10px;
}

.stock-title .text h3{
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
}

.back{
    position: fixed;
    margin: 20px;
    bottom: 0;
}

.back a{
    color: #000;
    font-size: 50px;
    transition: all linear 0.3s;
}

.back a:hover{
    opacity: 0.5;
}